*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.row {
  max-width: 1200px;
  margin: 0 auto; }

body {
  font-family: 'Kanit', sans-serif;
  font-weight: 400; }

.heading__primary--main {
  color: #fff;
  font-size: 15rem;
  font-weight: 100;
  letter-spacing: 2rem; }

.heading__primary--sub {
  font-size: 3rem;
  letter-spacing: 0.5em;
  color: #eee; }

.heading__primary span {
  display: block; }

.heading__secondary {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.25rem;
  position: relative;
  transition: background-color .5s ease; }
  .heading__secondary:hover {
    color: #e74c3c; }
  .heading__secondary::after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #e74c3c;
    transition: width .5s ease, background-color .5s ease; }
  .heading__secondary:hover::after {
    width: 5%;
    background-color: black; }

.feature-paragraph {
  margin-left: 15%;
  width: 70%;
  margin-right: 15%;
  font-size: 1.75rem;
  font-weight: 400; }

.trad_paragraph {
  width: 70%;
  margin-right: 15%;
  font-size: 1.7rem;
  font-weight: 400;
  color: #eee; }

.food-n {
  font-size: 2rem; }

.food-p {
  font-size: 1.75rem; }

.u__margin-b-large {
  margin-bottom: 8rem; }

.u__margin-b-medium {
  margin-bottom: 5rem; }

.u__margin-b-small {
  margin-bottom: 3rem; }

.u__margin-t-small {
  margin-top: 1rem; }

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 3rem;
  transition: all 0.4s; }
  .btn__full {
    color: #e74c3c;
    border: 2px solid #fff;
    background-color: #fff; }
    .btn__full:hover {
      transform: translateY(-4px);
      box-shadow: 0rem 0.5rem rgba(34, 34, 34, 0.3); }
  .btn__ghost {
    color: #fff; }
    .btn__ghost:hover {
      border: 2px solid #e3301e;
      background-color: #e3301e;
      transform: translateY(4px);
      box-shadow: 0rem -0.5rem rgba(34, 34, 34, 0.3); }

.feature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 1.5rem; }
  .feature__box {
    border: 2px solid rgba(231, 76, 60, 0.4);
    border-radius: 3px;
    padding: 1.25rem;
    box-shadow: 1rem 1rem 1rem rgba(34, 34, 34, 0.3);
    transition: all 0.3s; }
    .feature__box:not(:last-child) {
      margin-right: 2rem; }
    .feature__box:hover {
      transform: scale(1.1); }
  .feature__icon {
    text-align: center;
    font-size: 2.25rem;
    color: #e74c3c; }

.traditionals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; }
  .traditionals__left {
    background-image: linear-gradient(to right bottom, rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("http://via.placeholder.com/900x900");
    height: 300px;
    margin-right: 2rem;
    background-size: cover;
    background-position: center;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .traditionals__left::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 300px;
      width: 100%;
      background-color: #e74c3c;
      transition: all 0.3s; }
    .traditionals__left:hover::before {
      content: "";
      transform: translateX(-100px);
      opacity: 0; }
  .traditionals__right {
    background-image: linear-gradient(to right bottom, rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("http://via.placeholder.com/900x900");
    height: 300px;
    background-position: center;
    background-size: cover;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .traditionals__right::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 300px;
      width: 100%;
      background-color: #e74c3c;
      transition: all 0.4s; }
    .traditionals__right:hover::before {
      content: "";
      transform: translateX(100px);
      opacity: 0; }

.food {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  position: relative; }
  .food__box {
    flex: 1 0 25%;
    position: relative;
    margin: 0.5rem;
    overflow: hidden; }
  .food__img {
    width: 100%;
    height: 100%;
    border-radius: 6px; }
  .food__card:hover .food__card--slide {
    z-index: 100;
    height: 100%; }
  .food__card--front {
    position: relative;
    z-index: 30; }
  .food__card--slide {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: rgba(247, 247, 247, 0.95);
    width: 100%;
    height: 0;
    border-radius: 6px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center; }
    .food__card--slide ul {
      list-style-type: none; }

.travel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .travel__box {
    background-color: #eee;
    padding: 1.5rem;
    flex: 1 0 33%;
    min-height: 200px;
    border: 2px solid rgba(237, 118, 105, 0.8);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(34, 34, 34, 0.75);
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .travel__box:hover {
      transform: scale(1.1);
      box-shadow: 0.75rem 0.75rem 0.5rem rgba(34, 34, 34, 0.75); }
    .travel__box:not(:last-child) {
      margin-right: 2rem; }
    .travel__box ul {
      list-style: none;
      font-size: 1.3rem; }
  .travel__map {
    width: 50%;
    height: 25rem; }

header {
  background-image: linear-gradient(to right bottom, rgba(237, 118, 105, 0.85), rgba(227, 48, 30, 0.85)), url("http://via.placeholder.com/1920x1080");
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  header .hero-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem; }

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem; }
  .nav__img {
    width: 10rem;
    height: 10rem; }
  .nav__list {
    list-style: none;
    display: relative;
    z-index: 100; }
  .nav__item {
    display: inline-block; }
    .nav__item:not(:last-child) {
      margin-right: 3.5rem; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    color: #fff;
    position: relative;
    letter-spacing: 0.1rem; }
  .nav__link::after {
    display: block;
    content: "";
    border-bottom: 3px solid #f7f7f7;
    width: 0%;
    transition: width 0.2s; }
  .nav__link:hover::after {
    width: 100%; }

footer {
  width: 100%;
  height: 20vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  footer .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem; }
    footer .top ul {
      list-style: none;
      color: #fff;
      font-size: 1.5rem;
      letter-spacing: 0.1rem; }
      footer .top ul li {
        display: inline-block; }
        footer .top ul li:hover {
          cursor: pointer; }

.footer__nav li {
  margin-left: 1rem; }

.footer__social li {
  margin-right: 1rem; }

.footer__social--link:link, .footer__social--link:visited {
  text-decoration: none;
  color: #fff;
  position: relative;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease; }

.footer__social .facebook:hover {
  color: #3b5999; }

.footer__social .google:hover {
  color: #dd4b39; }

.footer__social .twitter:hover {
  color: #55acee; }

.footer__social .instragam:hover {
  color: #e4405f; }

.section-feature {
  background-color: white;
  padding: 8rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.section-gallery {
  background-color: rgba(34, 34, 34, 0.5);
  display: flex;
  flex-wrap: wrap;
  align-content: center; }
  .section-gallery figure {
    flex: 1 0 25%;
    width: 25%;
    overflow: hidden; }
    .section-gallery figure img {
      transform: scale(1.15);
      opacity: 0.3;
      transition: all 0.3s; }
    .section-gallery figure img:hover {
      transform: scale(1);
      opacity: 1; }

.section-traditional {
  background-color: white;
  padding: 8rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.section-food {
  background-color: #ed7669;
  padding: 8rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.section-travel {
  background-color: white;
  padding: 8rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
