$color-primary : #e74c3c;
$color-primary-light : #ed7669;
$color-primary-dark : #e3301e;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #222;

$color-facebook: #3b5999;
$color-google: #dd4b39;
$color-twitter: #55acee;
$color-instragam: #e4405f;

