.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 3rem;
    // border: 2px solid red;
    transition: all 0.4s;
    
    &__full{
        color: $color-primary;
        border: 2px solid $color-white;
        background-color: $color-white;
        &:hover{
            transform: translateY(-4px);
            box-shadow: 0rem 0.5rem rgba($color-black, 0.3);
        }
    }


    &__ghost{
        color: $color-white;
        &:hover{
            border: 2px solid $color-primary-dark;
            background-color: $color-primary-dark;
            transform: translateY(4px);
            box-shadow: 0rem -0.5rem rgba($color-black, 0.3);
        }
    }

}