body {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

.heading__primary {
    &--main{
        color: $color-white;
        font-size: 15rem;
        font-weight: 100;
        letter-spacing: 2rem;
    }
    &--sub{
        font-size: 3rem;
        letter-spacing: 0.5em;
        color: $color-grey-light-2;
    }

    & span {
        display: block;
    }
}


.feature-paragraph{
    margin-left: 15%;
    width: 70%;
    margin-top: -100px;
}